{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.min.css">
<style>
@keyframes blink {
    to {
        visibility: hidden
    }
}
.glide__arrow {
    position: absolute;
    display: block;
    top: 50%;
    z-index: 2;
    opacity: 1;
    transform: translateY(-50%);
}
</style>
{% endblock %}
{% block script %}
    <script src="/static/js/text_typing.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.5.0/glide.min.js"></script>
    <script>
        const config = {
            type: 'carousel',
            startAt: 0,
            perView: 4,
            gap: 32,
            breakpoints: {
              1280: {
                perView: 3,
              },
              1024: {
                perView: 2,
              },
              768: {
                perView: 1,
              }
            }
          }
          new Glide('.glide', config).mount()
    </script>
{% endblock %}
{% block root %}
    {% include 'home_header.html' %}
    {% include 'home_content.html' %}
    
{% endblock %}