<header class="hero-pattern h-[550px] bg-[url('/static/images/texture-light@2x.jpg')] relative flex items-center justify-center">
    <div class="header-container absolute top-0 left-0 bg-[url(https://static.vecteezy.com/system/resources/previews/012/861/859/large_2x/bar-with-wooden-counter-beer-pumps-and-bottles-free-vector.jpg)] h-full w-full bg-center bg-no-repeat bg-cover after:w-full after:h-full after:absolute after:top-0 opacity-7 after:bottom-0 after:bg-black/60">
        
    </div>
    <div class="flex flex-col gap-4 relative z-10 items-center w-full">
        <h2 class="text-6xl text-white mb-5">toidichoi.com</h2>
        

        <form class="flex items-center w-1/2">   
            <label for="voice-search" class="sr-only">Tìm kiếm</label>
            <div class="relative w-full">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg aria-hidden="true" class="w-7 h-7 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                </div>
                <input type="text" id="voice-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-lg rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full pl-12 pr-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-500 dark:focus:border-orange-500 py-4 font-semibold" placeholder="Tìm kiếm Quán Cà phê, Khu Du lịch..." required>
                <button type="button" class="absolute inset-y-0 right-0 flex items-center pr-3">
                    <svg aria-hidden="true" class="w-6 h-6 text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7 4a3 3 0 016 0v4a3 3 0 11-6 0V4zm4 10.93A7.001 7.001 0 0017 8a1 1 0 10-2 0A5 5 0 015 8a1 1 0 00-2 0 7.001 7.001 0 006 6.93V17H6a1 1 0 100 2h8a1 1 0 100-2h-3v-2.07z" clip-rule="evenodd"></path></svg>
                </button>
            </div>
            <button type="submit" class="inline-flex items-center py-4 px-6 ml-2 text-lg font-medium text-white bg-orange-700 rounded-lg border border-orange-700 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-orange-300 dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800 whitespace-nowrap">
                Tìm kiếm
            </button>
        </form>
        

    </div>
</header>