<header class="mt-24 relative flex items-center justify-center">
    <div class="flex flex-col gap-4 relative z-10 items-center w-full md:p-0 p-3">
        <div class="text-2xl md:text-5xl text-center">
            <span class="text-gray-900 font-semibold" is="type-async" id="type-text"></span>
            <span class="blinking-cursor select-none animate-[blink_1s_steps(2,_start)_infinite] text-gray-600">|</span>
        </div>
        <span class="text-gray-500 text-center text-sm md:text-lg block mb-5 mt-2 font-semibold">
            Mang đến cho bạn những sự lựa chọn tốt nhất cho các chuyến đi du lịch
        </span>
        <div class="md:w-1/2 p-6">   
            <div class="flex items-center">
                <label for="voice-search" class="sr-only">Tìm kiếm</label>
                <div class="relative w-full">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <svg aria-hidden="true" class="w-7 h-7 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                    </div>
                    <input type="text" id="voice-search" class="bg-white text-gray-900 outline-none focus:ring-black focus:shadow-none inset-0 text-lg border border-gray-500 focus:border-black block w-full pl-12 pr-10 p-2.5  py-4 font-semibold" placeholder="Tìm kiếm địa điểm, khu vực, phong cách ..." required>
                    <button type="button" class="absolute inset-y-0 right-0 flex items-center pr-3">
                        <svg aria-hidden="true" class="w-6 h-6 text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7 4a3 3 0 016 0v4a3 3 0 11-6 0V4zm4 10.93A7.001 7.001 0 0017 8a1 1 0 10-2 0A5 5 0 015 8a1 1 0 00-2 0 7.001 7.001 0 006 6.93V17H6a1 1 0 100 2h8a1 1 0 100-2h-3v-2.07z" clip-rule="evenodd"></path></svg>
                    </button>
                </div>
                <button type="submit" class="inline-flex items-center py-4 px-6 ml-2 text-lg font-medium text-white bg-black  hover:bg-black/90 whitespace-nowrap">Tìm Kiếm</button>
            </div>
            <div class="hastag relative -ml-2 ">
              <div class="flex md:space-x-3 md:gap-0 items-center justify-center gap-2 md:justify-start flex-wrap max-w-full p-4 pl-2 overflow-hidden md:flex-nowrap">
                  {%for tag in tags %}
                  <button class="tagname flex items-center space-x-2 font-semibold whitespace-nowrap px-4 py-2 bg-white text-sm text-gray-700  cursor-pointer border border-gray-500 hover:border-black fill-gray-700 stroke-1 stroke-gray-700">
                      {{ tag.icon|safe }}
                      <span>{{ tag.name }}</span>
                  </button>
              {% endfor %}
              </div>
          </div>
        </div>
    </div>
</header>

