
<nav class="bg-white px-2 sm:px-16 py-2.5 dark:bg-gray-900  w-full z-20 ">
    <div class=" flex flex-wrap items-center justify-between mx-auto">
      <div class="flex items-center">
        <a href="https://toidichoi.com/" class="flex items-center">
          <img src="/static/images/logo.png" class="h-6 mr-1 sm:h-9" alt="Toidichoi Logo">
          <span class="self-center text-xl text-orange-700 font-semibold whitespace-nowrap dark:text-white">toidichoi</span>
      </a>
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
          <ul class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-6 md:mt-0 md:text-xl md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
    
            <li>
              <a href="#" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-700 md:p-0 md:dark:hover:text-white dark:text-gray-200 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">#Khám phá</a>
            </li>
            <li>
              <a href="#" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-700 md:p-0 md:dark:hover:text-white dark:text-gray-200 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Khuyến mãi</a>
            </li>
            <li>
              <a href="#" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-orange-700 md:p-0 md:dark:hover:text-white dark:text-gray-200 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Hot</a>
            </li>
          </ul>
        </div>
      </div>

    <div class="flex md:order-2 space-x-3">

        <button class="relative rounded-full bg-orange-600 text-gray-50 ring-1 items-center ring-orange-300 hover:ring-4 active:ring-4 focus:ring-4 font-semibold px-4 flex space-x-2  strock-2 fill-gray-50">
          <svg viewBox="0 0 512 512" width="20px" height="20px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g ><g  fill-rule="evenodd"> <g transform="translate(42.666667, 42.666667)"> <path d="M426.666667,384 L426.666667,426.666667 L3.55271368e-14,426.666667 L3.55271368e-14,384 L426.666667,384 Z M277.333333,7.10542736e-15 L384,106.666667 L149.333333,341.333333 L42.6666667,341.333333 L42.6666667,234.666667 L277.333333,7.10542736e-15 Z M207.079667,130.583 L85.3333333,252.330667 L85.3333333,298.666667 L131.669333,298.666667 L253.415667,176.919 L207.079667,130.583 Z M277.333333,60.3306667 L237.249667,100.413 L283.585667,146.749 L323.669333,106.666667 L277.333333,60.3306667 Z"> </path> </g> </g> </g></svg>
          <span>Viết Review</span>
        </button>
        <button class="relative rounded-full ring-1 ring-orange-300 hover:ring-4 active:ring-4 focus:ring-4">
          <img class="w-10 h-10 rounded-full" src="https://phongreviews.com/wp-content/uploads/2022/11/avatar-nhom-4-nguoi-1.jpg" alt="">
        </button>
        <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-sticky" aria-expanded="false">
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
      </button>
    </div>

    </div>
  </nav>
  